<!DOCTYPE html>
<html lang="en">
<head>
    <title>MailRoom | Home</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Mailroom API Documentation">
    <meta name="author" content="Shubham Kumar Gupta">    
    <link rel="shortcut icon" href="{{ url_for('static', filename='Ysi80tH2Bu4D.ico') }}"> 
    
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&amp;display=swap" rel="stylesheet">
    
    <!-- FontAwesome JS-->
    <script defer="" src="{{ url_for('static', filename='js/MYdHCwSpJVc5.js') }}"></script>
    
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nb2AoZs2AYyD.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tOzTvy6Yl2wq.css') }}">

    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='css/kepH61dBuKsM.css') }}">
    <link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

</head> 

<body class="docs-page">
    <header class="header fixed-top">	    
        <div class="branding docs-branding">
            <div class="container-fluid position-relative py-2">
                <div class="docs-logo-wrapper">
					<button id="docs-sidebar-toggler" class="docs-sidebar-toggler docs-sidebar-visible me-2 d-xl-none" type="button">
	                    <span></span>
	                    <span></span>
	                    <span></span>
	                </button>
	                <div class="site-logo"><a class="navbar-brand" href="{{ url_for('ui.index') }}"><img class="logo-icon me-2" src="{{ url_for('static', filename='images/65qqvKdYWuPY.svg') }}" alt="logo"><span class="logo-text">MailRoom<span class="text-alt">Docs</span></span></a></div>    
                </div><!--//docs-logo-wrapper-->
	            <div class="docs-top-utilities d-flex justify-content-end align-items-center">
					<a href="" class="btn btn-primary d-none d-lg-flex">Request Access</a>
	            </div><!--//docs-top-utilities-->
            </div><!--//container-->
        </div><!--//branding-->
    </header><!--//header-->
    
    
    <div class="page-header theme-bg-dark py-5 text-center position-relative">
	    <div class="theme-bg-shapes-right"></div>
	    <div class="theme-bg-shapes-left"></div>
	    <div class="container">
		    <h1 class="page-heading single-col-max mx-auto">Documentation</h1>
		    <div class="main-search-box pt-3 d-block mx-auto">
                 <form class="search-form w-100">
		            <input type="text" placeholder="Search the docs..." name="search" class="form-control search-input">
		            <button type="submit" class="btn search-btn" value="Search"><i class="fas fa-search"></i></button>
		        </form>
             </div>
	    </div>
    </div><!--//page-header-->
   <div class="page-content">
	    <div class="container">
		    <div class="docs-overview py-5">
			    <div class="row justify-content-center">
				    <div class="col-12 col-lg-4 py-3">
					    <div class="card shadow-sm">
						    <div class="card-body">
							    <h5 class="card-title mb-3">
								    <span class="theme-icon-holder card-icon-holder me-2">
								        <i class="fas fa-book-reader"></i>
							        </span><!--//card-icon-holder-->
							        <span class="card-title-text">Introduction</span>
							    </h5>
							    <div class="card-text">
								    Manage your applications and email templates effortlessly with our secure API. Register, generate tokens, and streamline email communications within your apps.
							    </div>
							    <a class="card-link-mask" href="{{ url_for('ui.docs') }}#section-1"></a>
						    </div><!--//card-body-->
					    </div><!--//card-->
				    </div><!--//col-->
				    <div class="col-12 col-lg-4 py-3">
					    <div class="card shadow-sm">
						    <div class="card-body">
							    <h5 class="card-title mb-3">
								    <span class="theme-icon-holder card-icon-holder me-2">
								        <i class="fas fa-laptop-code"></i>
							        </span><!--//card-icon-holder-->
							        <span class="card-title-text">API Documentation</span>
							    </h5>
							    <div class="card-text">
								    Access comprehensive API documentation to integrate and manage your applications seamlessly. Explore detailed guides on user registration, token generation, app creation, and email template management.
								</div>
							    <a class="card-link-mask" href="{{ url_for('ui.docs') }}#section-2"></a>
						    </div><!--//card-body-->
					    </div><!--//card-->
				    </div><!--//col-->
				    <div class="col-12 col-lg-4 py-3">
					    <div class="card shadow-sm">
						    <div class="card-body">
							    <h5 class="card-title mb-3">
								    <span class="theme-icon-holder card-icon-holder me-2">
								        <i class="fas fa-lightbulb"></i>
							        </span><!--//card-icon-holder-->
							        <span class="card-title-text">FAQs</span>
							    </h5>
							    <div class="card-text">
								    Find answers to common questions about using our API, managing applications, creating email templates, and more. Our FAQ section provides clear solutions to help you navigate the platform effortlessly.
								</div>
							    <a class="card-link-mask" href="{{ url_for('ui.docs') }}#section-3"></a>
						    </div><!--//card-body-->
					    </div><!--//card-->
				    </div><!--//col-->
			    </div><!--//row-->
		    </div><!--//container-->
		</div><!--//container-->
    </div><!--//page-content-->

    <footer class="footer  theme-bg-dark">

	    <div class="footer-bottom text-center py-5">
	        
	        <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
            <small class="copyright text-white">Designed and developed by <a class="theme-link text-white lnk" href="https://github.com/shubham14243" target="_blank"><i class="fa-brands fa-github fa-fw"></i>Shubham Kumar Gupta</a> for developers.</small>
            
	        
	    </div>
	    
    </footer>
   
       
    <!-- Javascript -->          
    <script src="{{ url_for('static', filename='js/xOaSdWs3CPMw.js') }}"></script>
    <script src="{{ url_for('static', filename='js/1XkurBUEDguM.js') }}"></script>  
    
    
    <!-- Page Specific JS -->
    <script src="{{ url_for('static', filename='js/ts5hzgELAbiJ.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sH7BAfR1gw3n.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fjX3uEuLz9P0.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/oscHdTexTsfR.js') }}"></script>      
    <script src="{{ url_for('static', filename='js/5oT0rFWBfpEi.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/CCeGXMLRxU9j.js') }}"></script> 


 

</body></html>