.font-bold{
	font-weight: bold;
}
.bg-dark{
	background-color: #282c34;
}
.padding-left-4{
	padding-left: 20px;
}
.padding-left-8{
	padding-left: 40px;
}
.padding-left-12{
	padding-left: 60px;
}
lnk:hover {
	color: black;
	font-weight: bold;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1; /* Allows the wrapper to take up remaining space */
}

.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: auto; /* Pushes footer to bottom */
}